<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156786154289-nkrmtrnnv7pabgmbut5ipirvlei40q9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156786154289-nkrmtrnnv7pabgmbut5ipirvlei40q9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCuvLzTkrCh4DKsWL9BGqCEgapMCKizdcg</string>
	<key>GCM_SENDER_ID</key>
	<string>156786154289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.tw-fb-firestore</string>
	<key>PROJECT_ID</key>
	<string>tw-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>tw-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156786154289:ios:53e706b4f7dcdd312d6e10</string>
</dict>
</plist>